html,body,#root{
  min-height: 100%;
}
body{
  background: url("../src/assets/light-back.png") no-repeat;
  background-size: cover;
}
.image-place {
  margin: 0px 15% 15% 0px;
  height: 300px;
}
.text-center{
  justify-content: center;
}
.title {
  font-weight: bold;
}
.title-top {
  padding-top: 15px;
}
.backround-image {
  background-repeat: no-repeat;
  background-image: url("../src/assets/backround.png");
  background-size: cover;
  width: 100%;
}
.recomendation-backround{
  background: url("../src/assets/light-back.png") no-repeat;
  background-size: cover;
}
.card-layout {
  display: flex;
  margin: 0 auto;
}
.card-size{
  width: 28rem;
}
.icon-style {
  width: 20px;
  height: 20px;
  padding-left: 4px;
  background-color: white;
}
.button-style {
  display: block;
}
.destination {
  display: flex;
  justify-content: center;
}

.choosed{
  height: 100%;
  background: url("../src/assets/backround.png") no-repeat;
}
@media only screen and (max-width: 1200px) {
.card-backround{
  background: url("../src/assets/light-back.png") no-repeat;
  background-size: cover;
}
}
@media only screen and (max-width: 572px) {
  .image-place {
    margin: 0px 10% 10% 0px;
    height: 300px;
    width: 300px;
  }
  .card-size{
    width: unset;
  }
  .button-style {
    width: 300px;
  }
  .title-top{
    font-size: 20px
  }
  .orientation {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .image{
    margin-bottom: 20px;
  }
  .navbar-block{
    margin-bottom: 15px;
  }
  .image-destination{
    margin-bottom: 20px;
  }
  .text-center{
    justify-content: center;
  }
  .button-fav{
    margin: 7px;
  }
}
@media only screen and (max-width: 540px) {
  .image-place {
    margin: 0px 10px 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
